

/* this is a comment */
/* this is another comment */

body {
    background-color: rgb(191, 250, 227);
}

h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

#main-nav {
    background-color:rgb(179, 217, 240); 
    list-style-type: none;
    font-weight: bold;
    font-size: .95rem;
    font-variant: small-caps;
}

h1 {
    font-size: 2rem;
    text-shadow: .1em .1em rgba(48, 149, 216, 0.904);
    letter-spacing: 0.5rem;
}

h2 {
    font-size: 1.5rem;
    color: rgb(139, 17, 119);
    opacity: 0.60;
}
p {
    font-size: 1rem;
    font-family:'Times New Roman', Times, serif
}

my-hobbies{
    color:darkblue
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    
  }

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1rem;
  }

a { text-decoration: none;}

#lists{
    font-size: 1rem;
}
