/* this is a comment */
/* CSS reset */
html {
    box-sizing : border-box ;
  }

* ,
* : before ,
* : after {
    box-sizing : inherit ;
}
 /* end of CSS reset */
 /*google fonts
 font-family: 'Alegreya', serif;
 font-family: 'Bree Serif', serif;
 */

body {
    background-color: rgb(191, 250, 227);
    margin: 10px 10%;
}

h1, h2 {
    font-family: 'Bree Serif', serif;
}

#main-nav {
    background-color:rgb(179, 217, 240); 
    list-style-type: none;
    font-weight: bold;
    font-size: 2.5rem;
    font-variant: small-caps;
    text-align:center;
}

h1 {
    font-size: 2.5rem;
    text-shadow: .1em .1em rgba(48, 149, 216, 0.904);
    letter-spacing: 0.5rem;
}

h2 {
    font-size: 1.9rem;
    color: rgb(139, 17, 119);
    opacity: 0.60;
}

.animated {
    animation-duration: 2.5s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  @keyframes bounce {
    0%, 20%, 50%, 80%, 100% {transform: translateY(0);}
    40% {transform: translateY(-30px);}
    60% {transform: translateY(-15px);}
  }
  .bounce {
    animation-name: bounce;
  }
  
  

.my-cat {
    max-width: 15%;
    max-height: 15%;
    margin-right: 30px;
    border: 3px solid; 
    padding: 8px;
    border-radius: 50%;
    float: left;
    shape-outside: circle();
}

.my-cat {
    animation: rotation 14s infinite linear;
  }
  
  @keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.personal-bio {
    margin-bottom: 150px;
    font-size: 1.1rem;
    font-family: 'Alegreya', serif;
}
p {
    font-size: 2.0rem;
    font-family: 'Alegreya', serif;
}

my-hobbies{
    color:darkblue
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
    
  }

ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 1.1rem;
  }

a { text-decoration: none;}

#lists{
    font-size: 1rem;
}

hr {
    clear:both;
}

.favs {
    float: right;
    width: 40%;
    
}

.fade-in-text {
    text-align: center;
    letter-spacing: 0.5rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150px;
    color: black;
    animation: fadeIn linear 7s;
    -webkit-animation: fadeIn linear 7s;
    -moz-animation: fadeIn linear 7s;
    -o-animation: fadeIn linear 7s;
    -ms-animation: fadeIn linear 7s;
  }
  
  @keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-moz-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-webkit-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-o-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }
  
  @-ms-keyframes fadeIn {
    0% {opacity:0;}
    100% {opacity:1;}
  }