/* CSS reset */
html {
    box-sizing : border-box ;
  }

* ,
* : before ,
* : after {
    box-sizing : inherit ;
}
 /* end of CSS reset */
body {
    background-color: rgb(223, 224, 224);
    background-image: url(/img/markus-spiske-Bg-OeRJxfAQ-unsplash.jpg);
    background-size: contain;
}
.pie {
    padding: 5px
}
#wrapper {
    width: 60%;
    background: rgb(224, 217, 217);
    margin: 0 auto;
    margin-top: 32px 0;
    padding: 1% 5%;
    border-radius: 10%;
}

#nav {
    text-align:center;
    }
    #nav li {
    display:inline;
    }
    #nav a {
    text-decoration:none; 
    padding:0 30px; /* variable width */
    }

h1{
    line-height: 20px !important;
}
h2{
      line-height: 20px !important;
}
.row{
    display: flex;
}
.row4-left{
    width: 50%
}
.row4-right{
    width: 50%
}
.row3-right{
    width: 60%
}
.row2-right{
    width: 40%
}
.row2-center{
    width: 60%
}
.row2-left{
    width: 20%
}


@media (max-width:600px){
.row{
    display: block !important;
        }
.row4-left{
    width: 100% !important;
}
.row4-right{
    width: 100% !important;
}
.row3-right{
   width: 100% !important;
}
.row2-right{
 width: 100% !important;
}
.row2-center{
    width: 100% !important;
}
.row2-left{
    width: 100% !important;
}
 
    nav {
        height:20px;
        font-size: 1.2rem;
        padding-bottom: 44px;
        margin-bottom: 20px;
        margin-right: 40px;
    }

    nav ul {
        display:flex;
        justify-content: space-evenly;
        font-variant-caps:all-small-caps;
        list-style-type: none;
    }

    img {
        border:none;
        max-width: 100%;
    }

    body {
        background-image: none;
        font-size: 1rem;
        
    }

    #wrapper {
        margin: 0 auto;
        width: 90%;
    }

}