

/* this is a comment */
/* this is another comment */

body {
    background-color: rgb(253, 253, 221);
}

.icon-row-1 {
    height: 10vh;
    background-image: url(/img/Camping_emblem_50.png);
    background-repeat: repeat-x;
}

#main-nav {
    background-color:rgb(103, 135, 177); 
    text-decoration-line: none;
    list-style-type: none;
    font-weight: bold;
    font-size: 1.10rem;
    font-variant: small-caps;
}

#main-nav a:link {
    color:rgb(240, 148, 148)
}

#main-nav a:visited {
    color: rgb(192, 226, 38);
}

#main-nav a:hover {
    color: chartreuse;
    background-color: darkcyan;
}

a { text-decoration: none;}

header {
    height: 50vh;
    background-image: url(/img/mike-newbry-nLLfQVG3sJw-unsplash_80.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

h1, h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 0.5rem;
    background-color: rgb(56, 223, 140);
}

h1 {
    color: cadetblue;
    font-size: 2rem; 
    text-shadow: .1em .1em rgba(189, 199, 44, 0.904);
}

h2 {
    font-size: 1.5rem;
    color: rgb(83, 109, 223);
    opacity: 0.70;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1rem;
    color:#363535e7
}

.firstcharacter {
    color: rgb(5, 5, 5);
    float: left;
    font-family:Arial, Helvetica, sans-serif;
  }

.fav {
    color: rgba(75, 90, 231);
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

